<h3 id="newCommentHeader">New Comment</h3>

 <div id="newCommentUsername">
   {{input value=model.username placeholder="username"}}
 </div>

 <div id="newCommentBody">
   {{input value=model.body placeholder="comment"}}
 </div>

 <div id="newCommentSubmitButton">
   <button {{action "createComment" model}}>Submit Comment</button>
 </div>
